* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #14151a;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: auto;
  background-color: #1a1b20;
  padding: 0 20px;
}

.uranus-logo {
  max-height: 100%;
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  cursor: pointer;
  background-color: #1a1b20;
  color: #96a7bd;
}

a {
  background-color: transparent;
  color: #444659;
}

.container-full {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.container-pics {
  width: 250px;
  height: max-content;
}
#bilder {
  display: flex;
  flex-direction: column;
}

.picture {
  display: flex;
  border: 10px solid #444659;
  border-radius: 15px;
}

img {
  display: flex;
  background-color: transparent;
  margin: 10px;
}

.fakta {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #96a7bd;
  padding: 25px;
  margin: 75px 0 0 0;
}
